<nav class="navbar navbar-default navbar-bottom" style="padding:0 0 5px 0">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
	<%= link_to "TASK LIMA", root_path, id: "logo" %>
		<ul class="nav navbar-nav">    
       <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
  </div>
</footer>

